<h1>How much do you want to bet? You have <%=session[:bank] %> in total to bet</h1>

<form action='/bet' method='post'>
		Bet: <input type='text' name="bet"/>
		<br/>
		<input type='submit' class='btn'>
</form>